<div class="panel-group" id="pmvf-faq-accordion">
  <div class="panel">
    <div class="panel-heading active-panel">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse1">
          Как правильно использовать программу "Сборщик контактов Вконтакте"
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Первым делом стоит отметить, что вы не можете каждый день скачивать десятки тысяч контактов. Вы не спамом
          занимаетесь и не собираете себе базу контактов. Вы предлагаете свой бизнес другим людям.</p>

        <p><b>В независимости от купленного тарифного пакета вы будете иметь ограниченное количество запросов на сбор
          контактов в день.</b></p>

        <p>Видеоурок скоро будет</p>

        <p>
          <small class="text-muted">С ув. администрация TNF.</small>
        </p>

      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading active-panel">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse2">
          Платежные системы и выплаты.
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>TNF работает с платежной системой PerfectMoney.</p>

        <p>Выплаты - инстант</p>

        <p>
          <small class="text-muted">С ув. администрация TNF.</small>
        </p>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading active-panel">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse3">
          Как работает партнерская программа?
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Для того чтобы активировать партнерскую программу вам необходимо оплатить любой из предосталенных пакетов
          сервиса TNF.</p>

        <p>
          <small class="text-muted">С ув. администрация TNF.</small>
        </p>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading active-panel">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse4">
          Планирует ли TNF внедрить МЛМ-маркетинг в систему?
        </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          Да. Как только в системе будет 1000 активных пользователей. Структуры пользователей при этом сохранятся.
        </p>

        <p>
          <small class="text-muted">С ув. администрация TNF.</small>
        </p>
      </div>
    </div>
  </div>
</div>