<h4>Меркурий сообщество</h4>

<p><b>Проект «Меркурий Взаимный Фонд»</b> является социально-финансовым инструментом, на основе которого
  формируется международное сообщество финансово независимых людей, объединённых принципами взаимного
  доверия и взаимопомощи.</p>

<p>
  <b>Идея создания</b> такого сообщества возникла из реалий современной жизни. В условиях мирового кризиса
  перепроизводства существующая система рыночной экономики, основанная на принципе конкурентной борьбы,
  является устаревшей и неэффективной системой перераспределения благ и нуждается в концептуальной
  трансформации.</p>

<p>
  В свою очередь, <b>государство</b>, как форма организации человеческого общества, в своем нынешнем
  состоянии не
  соответствует актуальным запросам его граждан по обеспечению им базовых потребностей и, в большинстве
  случаев, препятствует эффективной реализации их социальной, предпринимательской и творческой деятельности.
</p>

<p>В то же время, благодаря стремительному развитию Интернета и коммуникационных технологий созданы
  благоприятные условия для эффективного взаимодействия разнообразных общественных объединений без
  каких-либо препятствий и ограничений</p>

<p>Именно вышеупомянутые факторы <b>породили потребность формирования Сообщества Меркурий</b>, внутри
  которого,
  каждый его член, независимого от социального статуса, рода деятельности и уровня конкурентоспособности,
  имеет возможность создать себе и своим близким надежный и стабильный источник финансового обеспечения для
  удовлетворения базовых человеческих потребностей и достижения уровня достатка.</p>

<p>Кроме того, в рамках <b>Сообщества Меркурий</b>, создаются условия для свободной реализации каждым
  индивидом его созидательного
  потенциала во всех сферах жизни, воплощения любых общественно полезных идей и проектов, а также для
  свободного обмена продуктами деятельности (товары и услуги) и эффективного перераспределения благ между
  членами сообщества.</p>