<div class="panel-group" id="pmvf-faq-accordion">
  <div class="panel ">
    <div class="panel-heading active-panel">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapseOne">
          Что такое "Меркурий" Взаимный фонд и как это работает?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Меркурий в первую очередь <strong>это сообщество людей.</strong></p>

        <p>Поэтому, став участником данного сообщества, Вы имеете возможность и привилегии делать взносы*
          в фонд сообщества и получать за это в качестве вознаграждения
          <strong>еженедельную премию в сумме от 4,8% до 6% в неделю </strong>(в зависимости от сумм Ваших
          взносов) в течении года, тем самым сообщество благодарит Вас за доверие и за то, что вы подарили
          ваши деньги в пользование сообществу.</p>

        <p>
          <small>*- под термином «взнос» подразумевается передача денежных средств в безвременное
            пользование сообществу "Меркурий".
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapseTwo">
          Какая доходность фонда?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Доходность фонда на текущий момент составляет <strong>от 240% до 300% за год</strong> от суммы
          подаренной Вами сообществу. <strong>При этом чистая (номинальная) доходность </strong> на взнос
          составит <strong>от 140% до 200%,</strong> т.к. 100% тела взноса включено в еженедельные выплаты
          и не возвращается по условиям фонда. Так же в фонде регулярно проводятся
          <strong>акции в честь праздников.</strong> Участвуя в таких акциях, Вы можете поднять доходность
          своего взноса дополнительно <strong>до 10%.</strong></p>

        <p>Доходность фонда может со временем уменьшиться, согласно четкого плана развития. </p>

        <p><strong>Взаимный фонд «Меркурий»</strong> это в первую очередь социально-финансовый инструмент,
          позволяющий людям сохранить и преумножить свои сбережения в наше тяжелое время и по своей сути
          <strong>не является инструментом для обогащения и наживы.</strong></p>
      </div>
    </div>
  </div>
  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapseThree">
          Взаимный фонд «Меркурий» это финансовая пирамида?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>В классическом понимании пирамид, <strong>Меркурий не является финансовой пирамидой,</strong>
          поскольку <strong>не имеет сложного процента,</strong> кроме этого по правилам сообщества
          забрать свой взнос (т.е. тело) невозможно, поскольку он был подарен по условиям фонда,
          пользоваться своим даром Вы можете ровно год (300 рабочих дней, т.е. шесть дней в неделю без
          учета праздников), и самое главное нет накопительного процента на сумму взноса. </p>

        <p><strong>Фонд Меркурий по принципу распределения средств больше похож на банк,</strong> но при
          этом не имеет расходов на содержание персонала, инкассации и не несет издержек на покупку офисов
          за деньги взносчиков (как это делает подавляющее большинство банков), поэтому
          <strong>доходность фонда может быть в разы больше чем любого банка</strong> в странах СНГ.</p>

        <p>Кроме всего прочего отличие фонда от финансовых пирамид состоит еще и в том, что в любой
          пирамиде есть «первые» и «последние» взносчики, и как правило «первые» получают все, а
          «последние» остаются ни с чем. В фонде
          <strong>благодаря грамотной системе распределения средств, нет понятия «первый» и
            «последний»</strong>, здесь деньги в качестве вознаграждения за доверие получают абсолютно все
          участники, без исключения!</p>
      </div>
    </div>
  </div>
  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapseFour">
          Почему я должен(на) верить, что это не очередное кидалово?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Взаимный фонд Меркурий работает с января 2013 года</strong> и уже почти два года фонд
          показывает колоссальные результаты и доказывает свою надежность. За это время фонд оправдал
          доверие <strong>более 50 000 участников со всего мира</strong> и продолжает это делать. </p>

        <p>Поверьте, в это крайне тяжелое для нас время, когда всего за несколько месяцев в стране
          прекратило свою деятельность 19 банков,
          <strong>два года бесперебойной деятельности и стабильности, это весьма внушительный
            срок.</strong></p>

        <p>Кроме того, в отличие от банков, за свою почти двухлетнюю деятельность фонд «Меркурий» не
          получил в свою сторону
          <strong>ни одного плохого отзыва со стороны взносчиков (или участников).</strong></p>
      </div>
    </div>
  </div>
  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapseFive">
          Какие гарантии дает фонд?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p>А какие гарантии давали те 19 банков своим взносчикам? Гарантию возврата взносов как минимум,
          пусть даже без процентов по взносу, но хотя бы тело взноса, ведь так? А нет, к нашему всеобщему
          сожалению оказывается это совсем не так… </p>

        <p><strong>Понимание гарантий</strong> в современном мире <strong>очень хрупкий термин.</strong> В
          тяжелейшее экономическое время во всем мире, понятие гарантии отсутствует как таковое, поскольку
          невозможно прогнозировать будущее в столь агрессивной экономической среде. </p>

        <p>Самой большой гарантией в фонде есть <strong>доверие людей</strong> и то, что на протяжении
          срока своего существования фонд производит
          <strong>регулярные еженедельные выплаты всем своим участникам (дарителям) уже два года
            подряд. </strong></p>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapseSix">
          Как долго работает фонд?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Как мы уже говорили ранее, <strong>Фонд Меркурий работает с января 2013 года.</strong> За это
          время фонд объединил вокруг себя <strong>более 50 000 человек,</strong> которые стали его
          участниками и продолжает свой рост и развитие колоссальными темпами несмотря ни на что.</p>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapseSeven">
          Как происходят выплаты?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Участники фонда Меркурий получают <strong>еженедельные премии</strong> за участие
          <strong>на свои банковские карты в своей стране (более 20 стран мира),</strong> либо используя
          электронные системы, такие как Perfect Money. Выплаты производятся
          <strong>регулярно каждый вторник.</strong></p>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse8">
          Возвращается ли тело взноса?
        </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Нет, забрать свой взнос по правилам фонда <strong>Вы не можете.</strong> Это к вопросу о
          стабильности… Невозможность единовременного изъятия средств,
          <strong>это гарантия стабильности любого финансового учреждения,</strong> т.к. это исключает
          фактор паники и <strong>не дает:</strong></p>
        <ul style="font-style:italic;color:#413F3F;font-weight:bold;">
          <li style="list-style:disc;list-style-position: inside;"> разово опустошить запасы;</li>
          <li style="list-style:disc;list-style-position: inside;">единовременно нарушить баланс в системе
            внутреннего перераспределения фонда...
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse9">
          Почему тело взноса не возвращается?
        </a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Как мы уже сказали ранее, в любой финансовой системе (банки, страховые копании, финансовые
          проекты), всегда огромным риском является возможность резкого оттока средств взносчиков, которые
          в критических или панических ситуациях изымают свои средства.</p>

        <p><strong>Фонд исключил этот огромный риск,</strong> тем самым дав возможность грамотно управлять
          всеми средствами фонда.</p>
      </div>

    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse10">
          Откуда берутся деньги на выплаты?
        </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Как и в любом другом бизнесе в мире, любые деньги приходят
          <strong>исключительно от людей,</strong> и уже внутри фонда эти
          <strong>деньги грамотно управляются</strong> людьми профессионалами,
          <strong>приумножаются и перераспределяются внутри фонда.</strong></p>
      </div>

    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse11">
          Какие основные отличия фонда от других проектов?
        </a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Отличий очень много…</strong></p>

        <p>Одним из основных отличий фонда является <strong>невозможность забрать тело взноса,</strong>
          кроме этого здесь <strong>нет сложного процента,</strong> а это означает что легко
          прогнозируется будущее по выплатам. <strong>взнос работает ровно год </strong>(300 дней ка мы
          уже говорили ранее). </p>

        <p>Кроме этого в фонде <strong>есть ограничение по размеру взноса от 1000-100000 грн,</strong> что
          так же сводит на нет все сомнения, т.к. есть максимум и он строго ограничен возможностями фонда.
        </p>

        <p><strong>Еженедельные выплаты на карту банка и конвертация без комиссий,</strong> при этом
          работает фонд более чем в 20 странах мира</p>

        <p>Но самое главное отличие фонда, это <strong>доверительные отношения самих участников,</strong>
          совместные поездки на отдых (как в рамках одной страны, так и международные), помощь
          нуждающимся, а также <strong>духовное развитие</strong> и обучение участников.</p>
      </div>

    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse12">
          Почему я должен выбрать "Меркурий"?
        </a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Вы</strong> в жизни <strong>никому ничего не должны,</strong> кроме как самому себе.
          Жизнь у нас одна и только <strong>Вы сами решаете, как её прожить.</strong> Меркурий помогает
          людям <strong>создать пассивный источник дохода</strong> для создания более качественного уровня
          жизни и избавляет людей от «крысиных бегов» в погоне за деньгами, тем самым
          <strong>повышает их финансовый уровень и благополучие.</strong></p>

        <p><strong>Мы не навязываем Вам свою точку зрения</strong> и не втягиваем Вас в какую-то авантюру,
          мы лишь показываем Вам возможность кардинально изменить себя и свою жизнь в лучшую сторону…
          <strong>А выбор всегда остается за Вами.</strong></p>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse13">
          Законна ли деятельность фонда?
        </a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse">
      <div class="panel-body">
        <p>С точки зрения закона, <strong>фонд Меркурий – это сообщество.</strong> В соответствии с
          параграфом 2 главы 77 Гражданского Кодекса Украины, сообщество – это
          <strong>открытая форма взаимодействия людей по интересам,</strong> и сообщество не обязано иметь
          форму регистрации и платить налоги. Поэтому деятельность фонда
          <strong>абсолютно легальна.</strong></p>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse14">
          Какие цели создания фонда?
        </a>
      </h4>
    </div>
    <div id="collapse14" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Основной целью создания фонда является желание создать
          <strong>сообщество людей, которые научаться доверять друг другу,</strong> используя свои
          финансовые возможности и в итоге построить другое общество людей внутри фонда, которые научаться<strong>
          взаимодействовать и развиваться.</strong></p>

        <p>Однако пока человек думает о том где бы заработать деньги, ни о каком развитии не может быть и
          речи. </p>

        <p>Когда у человека достаточно средств для комфортной жизни и ему достаточно денег на базовые
          блага, только тогда сознание человека готово перейти на следующий уровень социального
          развития. </p>

        <p><strong>Взаимный фонд «Меркурий» помогает избавиться от проблемы «где брать деньги?»,</strong>
          создавая для людей постоянный источник дохода.</p>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse15">
          Какой план развития сообщества "Меркурий"?
        </a>
      </h4>
    </div>
    <div id="collapse15" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Ближайший план развития это фонда на 5 лет это
          <strong>внедрение новых накопительных программ,</strong> соответствующих нормам человеческих
          ценностей. Одной из целей фонда есть
          <strong>создание своего собственного банка внутри сообщества,</strong> географически
          расположенного в европейской зоне без миллионных бонусов руководству и зарплат сотрудников,
          поскольку сотрудниками банка будут участники сообщества имеющие соответствующую квалификацию.
          Это все опять же направлено на еще большее обеспечение <strong>стабильности фонда,</strong> т.е.
          с заботой о своих участниках (взносчиках).</p>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse16">
          Что будет когда закончатся люди?
        </a>
      </h4>
    </div>
    <div id="collapse16" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Этот вопрос задают люди неосознанно, поскольку
          <strong>люди в мире в принципе не заканчиваются.</strong> Всегда есть люди, которым
          <strong>интересны источники пассивного дохода.</strong></p>

        <p>Всегда есть и будут люди, которым интересно
          <strong>вложить свои «кровные» так сказать в стабильный работающий фонд</strong> и получать
          хорошие дивиденды на взнос… </p>

        <p>Всегда есть и будут люди кому интересно <strong>развитие и обучение</strong> и всегда есть и
          будут люди которым <strong>нужны ДЕНЬГИ</strong> в этом мире.</p>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#pmvf-faq-accordion" href="#collapse17">
          Почему я должен(на) Вам поверить?
        </a>
      </h4>
    </div>
    <div id="collapse17" class="panel-collapse collapse">
      <div class="panel-body">
        <p><strong>Вопрос доверия в фонде Меркурий стоит на первом месте,</strong> поскольку это самый
          главный принцип деятельности и фактор стабильности работы фонда. Только на доверии своих
          участников <strong>фонд работает уже почти два года.</strong></p>

        <p>Модель работы фонда Меркурий построена таким образом, что без доверия фонд не смог бы
          проработать и пары месяцев. Тысячи людей благодарны, и
          <strong>десятки тысяч доверяют взаимному фонду Меркурий!</strong></p>
      </div>
    </div>
  </div>
</div>