<h4>Характеристика Проекта «Меркурий Взаимный Фонд»</h4>

<%= nav do %>
    <%= link_to fa_icon('table', text: t('translations.table_n', number: 1)), '#pmvf-features-table-1', data: { toggle: 'tab' } -%>
    <%= link_to fa_icon('table', text: t('translations.table_n', number: 2)), '#pmvf-features-table-2', data: { toggle: 'tab' } -%>
<% end %>

<div class="panel-body">
  <div class="tab-content">
    <div class="tab-pane fade active in" id="pmvf-features-table-1">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Характеристика</th>
          <th>Другие проекты</th>
          <th>PMVF</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Подход к деньгам</td>
          <td>Обогащение участников</td>
          <td class="font-bold">Пассивный доход</td>
        </tr>
        <tr>
          <td>Доход</td>
          <td>Экспоненциальный</td>
          <td class="font-bold">Стабильный</td>
        </tr>
        <tr>
          <td>Инвестиции</td>
          <td>1,000 - 10,000,000</td>
          <td class="font-bold">1,000 - 50,000</td>
        </tr>
        <tr>
          <td>Выплаты</td>
          <td>Период разморозки</td>
          <td class="font-bold">Еженедельно (вторник)</td>
        </tr>
        <tr>
          <td>Проведение акций</td>
          <td>В момент падения</td>
          <td class="font-bold">Ежемесячно
            <small class="text-muted">(на протяжении более 2 лет)</small>
          </td>
        </tr>
        <tr>
          <td>Срок жизни</td>
          <td>Макс. 1 год</td>
          <td>Уже более 2 лет
            <small class="text-muted">(уже больше 80,000 участников и это кол-во продолжает расти)</small>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="pmvf-features-table-2">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Что</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
        </tr>
        </thead>
        <tbody>
        <tr class="warning">
          <td>Банки</td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
          <td><i class="fa fa-plus-square text-navy"></i></td>
          <td><i class="fa fa-plus-square text-navy"></i></td>
          <td>
            1:9 - EU <br/>
            1:24 - UA
          </td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
        </tr>
        <tr class="warning">
          <td>ПИФы страховые</td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
          <td><i class="fa fa-plus-square text-navy"></i></td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
          <td>1:50</td>
          <td><i class="fa fa-plus-square text-navy"></i></td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
        </tr>
        <tr class="danger">
          <td>Фин. пирамиды</td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
          <td>1:800</td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
          <td><i class="fa fa-minus-square text-danger"></i></td>
        </tr>
        <tr class="success">
          <td>Проект "Меркурий Взаимный Фонд"</td>
          <td><i class="fa fa-plus-square text-navy"></i></td>
          <td><i class="fa fa-plus-square text-navy"></i></td>
          <td><i class="fa fa-plus-square text-navy"></i></td>
          <td>1:3</td>
          <td><i class="fa fa-plus-square text-navy"></i></td>
          <td><i class="fa fa-plus-square text-navy"></i></td>
        </tr>
        </tbody>
      </table>

      <ol>
        <li>
          Ограничение суммы взноса
          <small class="text-muted">
            <ul>
              <li>
                <i class="fa fa-plus-square text-navy"></i> - есть ограничение
              </li>
              <li>
                <i class="fa fa-minus-square text-danger"></i> - нету ограничения
              </li>
            </ul>
          </small>
        </li>
        <li>
          Ограниченый срок работы вклада
          <small class="text-muted">
            <ul>
              <li>
                <i class="fa fa-plus-square text-navy"></i> - есть ограничение
              </li>
              <li>
                <i class="fa fa-minus-square text-danger"></i> - нету ограничения
              </li>
            </ul>
          </small>
        </li>
        <li>
          Процент
          <small class="text-muted">
            <ul>
              <li>
                <i class="fa fa-plus-square text-navy"></i> - простой процент
              </li>
              <li>
                <i class="fa fa-minus-square text-danger"></i> - сложный процент
              </li>
            </ul>
          </small>
        </li>
        <li>
          Сколько нужно новый людей в систему на 1 вкладчика
        </li>
        <li>
          Забрать все деньгм мз системы до конца работы вклада
          <small class="text-muted">
            <ul>
              <li>
                <i class="fa fa-plus-square text-navy"></i> - нельзя
              </li>
              <li>
                <i class="fa fa-minus-square text-danger"></i> - возможно
              </li>
            </ul>
          </small>
        </li>
        <li>
          Долг системы перед владчиком
          <small class="text-muted">
            <ul>
              <li>
                <i class="fa fa-plus-square text-navy"></i> - уменьшается
              </li>
              <li>
                <i class="fa fa-minus-square text-danger"></i> - растет
              </li>
            </ul>
          </small>
        </li>
      </ol>
    </div>
  </div>
</div>


