<h3>
  Проект «Меркурий Взаимный Фонд»
</h3>
<h4>Ваша финансовая независимость</h4>

<p>
  <b>Проект «Меркурий Взаимный Фонд»</b> (далее PMVF) - это фонд взаимного инвестирования, который позволяет
  нам
  быть финансово независимыми уже через одну неделю.
</p>

<p>
  <b>Общий фонд PMVF</b> - это деньги всех его участников. Все инвестиции участников идут в друг друга.
</p>

<p class="font-bold text-center underline">Деньги не хранятся в одном месте</p>

<p>
  <b>Проект «Меркурий Взаимный Фонд»</b> имеет уже более 2000 хранителей, которые хранят деньги у себя в банковских счетах и выплачивают
  часть
  денег по вторникам своей ячейке членов сообщества. (например: ПриватБанк в Украине).
</p>

<blockquote class="text-danger">
  <p>Те, кто сделают вклад на сумму от <span class="underline">5000 грн. ($300, €260, 20000 руб.)</span> – получат доступ к "Сборщику контактов Вконтакте"
    <span class="underline">БЕСПЛАТНО</span></p>
  <p><small>The New Friends</small></p>
</blockquote>