<div class="row">
  <div class="col-md-4">
    <figure>
      <iframe width="425" height="349" src="http://www.youtube.com/embed/BvjKUAMKw1s" frameborder="0" allowfullscreen></iframe>
    </figure>
  </div>
  <div class="col-md-4">
    <figure>
      <iframe width="425" height="349" src="http://www.youtube.com/embed/lZcRCRoKlGo" frameborder="0" allowfullscreen></iframe>
    </figure>
  </div>
  <div class="col-md-4">
    <figure>
      <iframe width="425" height="349" src="http://www.youtube.com/embed/z3ZegSwCWpk" frameborder="0" allowfullscreen></iframe>
    </figure>
  </div>
</div>