<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>The New Friends</title>
  <%= stylesheet_link_tag 'tnf_landing_page', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top">
<%= yield -%>
<%= javascript_include_tag 'tnf_landing_page' %>
</body>
</html>
